# Dependencies
node_modules/
.pnp
.pnp.js

# Production builds
dist/
dist-ssr/
*.local

# System/IDE configs
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Scratch & Temporary
scratch/
temp/
tmp/
.gemini/
